<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
  </configSections>
  <appSettings>
    <add key="path" value="C:\Temp\" />
    <add key="backUpPath" value="C:\Temp\Old" />
    <add key="PathToLog" value="C:\Temp\" />
    <add key="logfile" value="importador.log" />
    <add key="CodigoEmpresa" value="1" />
    <add key="Enviroment" value="Testing"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="main" connectionString="data source=ldrne-anc;initial catalog=fidecard;integrated security=true;" />
  </connectionStrings>
  <activerecord isWeb="false" isDebug="false" pluralizeTableNames="false">
    <config database="MsSqlServer2005" connectionStringName="main">
    </config>
  </activerecord>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>