<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
    <section name="Empresas" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="path" value="C:\Temp\" />
    <add key="backUpPath" value="C:\Temp\Old" />
    <add key="Enviroment" value="Development"/>
    <add key="AutoStart" value="true"/>    
  </appSettings>
  
  <!-- aca se modifican los valores de empresas con importador-->
    <Empresas>
        <add key="Ola" value="3" />
        <add key="Cambio" value="2" />        
    </Empresas>
    
    <log4net>
        <!-- Define some output appenders -->
        <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &amp;lt;%P{user}&amp;gt; - %m%n" />
            </layout>
        </appender>
        <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &amp;lt;%P{user}&amp;gt; - %m%n" />
            </layout>
        </appender>
        <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
            <param name="File" value="importador.log" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Date" />
            <param name="DatePattern" value="yyyy.MM.dd" />
            <param name="StaticLogFileName" value="true" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &amp;lt;%X{auth}&amp;gt; - %m%n" />
            </layout>
        </appender>
        <root>
            <!-- priority value can be set to ALL|INFO|WARN|ERROR -->
            <priority value="ERROR" />
            <appender-ref ref="rollingFile" />
        </root>
    </log4net>
    
    <connectionStrings>
        <add name="main" connectionString="data source=WIND\SQLEXPRESS;initial catalog=carlosdi_fidecard;integrated security=true;" />
    </connectionStrings>
    
  <activerecord isWeb="false" isDebug="false" pluralizeTableNames="false">
      <config database="MsSqlServer2005" connectionStringName="main" />  
  </activerecord>  
</configuration>